<form>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4" class="col-form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4" class="col-form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
    <div class="form-group col-md-3">
    	<button type="submit" class="btn btn-primary">Sign in</button>
    	<button type="submit" class="btn btn-primary">Sign in</button>
    </div>
     
  </div>
</form>
<!-- <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Titulo</th>
                  <th>Autor</th>
                  <th>Preço</th>
                  <th>Editar</th>
                  <th>Excluir</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Titulo</td>
                  <td>Laercio</td>
                  <td>R$3,00</td>
                  <th>
                  	<a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
                  </th>
                  <th>
                  	<a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
                  </th>
                </tr>

              </tbody>
            </table> -->

